@import url('https://fonts.cdnfonts.com/css/ligconsolata');
@import "tailwindcss";

:root {
  --font-lexend: 'Lexend', sans-serif;
  --font-ligconsolata: 'Ligconsolata', sans-serif;
  --color-royalblue: #2970ff;
  --color-royalblue-200: rgba(41, 112, 255, 0.15);
  --color-black: #262434;
  --color-gray: #0c111d;
  --color-gray-200: rgba(33, 42, 68, 0.08);
  --color-gray-300: rgba(0, 0, 0, 0.2);
  --color-gray-400: rgba(18, 18, 18, 0.3);
  --color-white: #fff;
  --color-whitesmoke: #f5f5f5;
  --color-lavender: #ecebfb;
  --color-dimgray: #5e5e60;
  --color-gainsboro: #d9d9d9;
  --color-shadow: rgba(100, 116, 139, 0.03);
  --color-mediumblue: rgba(73, 44, 221, 0.2);
}

body {
  font-family: var(--font-lexend), sans-serif;
  margin: 0;
  line-height: normal;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.font-ligconsolata {
  font-family: 'Ligconsolata', monospace;
}

.radial-blue-dark {
  background: radial-gradient(circle, #153169 0%, #0c111d 50%);
}

.clip-path-polygon {
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 60%);
}

@keyframes scroll-logo-carousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% / 6));
  }
}

.custom-rounded {
  border-top-left-radius: 5000px;
  border-bottom-left-radius: 3000px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.footer-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #1d2532 0%, var(--color-gray) 50%);
}

.delay-0 {
  transition-delay: 0ms;
}

.no-transition-delay {
  transition-delay: 0ms;
}

.logo-spinner {
  transform-origin: center;
  animation: morphToSpin 2s ease-in-out infinite;
}

@keyframes morphToSpin {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  20% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  30% {
    transform: rotate(45deg) scale(1.01);
    opacity: 0.9;
  }

  40% {
    transform: rotate(90deg) scale(1.02);
    opacity: 0.8;
  }

  50% {
    transform: rotate(180deg) scale(1.06);
    opacity: 0.7;
  }

  60% {
    transform: rotate(270deg) scale(1.08);
    opacity: 0.8;
  }

  70% {
    transform: rotate(360deg) scale(1.06);
    opacity: 0.9;
  }

  80% {
    transform: rotate(720deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(1080deg) scale(1);
    opacity: 1;
  }
}